<%- include('../includes/header.ejs') %>
    <main>
        <h1>
            <%= pageTitle %>
        </h1>

        <% if (productsArray.length> 0) { %>
            <% for (let counter of productsArray) { %>
                <p>Name: <%= counter.title %>
                </p>
                <p>Description: <%= counter.description %>
                </p>
                <p>Price: <%= counter.price %>
                </p>
                <% } %>
                    <% } else { %>
                        <p>Not exists</p>
                        <% } %>
                            </>
    </main>
    <%- include('../includes/footer.ejs') %>