<%- include('../includes/header.ejs') %>
    <main>
        <div>
            <h1 class="text-center">
                <%= pageTitle %>
            </h1>
        </div>
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% if (productsArray.length> 0) { %>
                    <% for (let product of productsArray) { %>
                        <div>
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm">
                                    <div class="card-header py-3">
                                        <h4 class="my-0 fw-normal">
                                            <%= product.title %>
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">$<%= product.price %>
                                        </h1>
                                        <div>
                                            <p>
                                                <%= product.description %>
                                            </p>
                                        </div>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } else { %>
                                <p>Not exists</p>
                                <% } %>
                                    </>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>