<%- include('../includes/header.ejs') %>
    <main>
        <section class="product-details-wrapper pt-5 pb-5">
            <div>
                <h1 class="text-center">
                    <%= pageTitle %>
                </h1>
            </div>
            <div class="container">
                <div class="col-lg-4 col-sm-6">
                    <% if (productsArray.length> 0) { %>
                        <% for (let product of productsArray) { %>
                            <div class="product-style-4 mt-30">
                                <div class="product-image">
                                    <div class="product-item active">
                                        <img src="https://demo.ecommercehtml.com/assets/images/product-2/product-1.jpg" alt="product">
                                    </div>
                                    <a class="add-wishlist" href="#0">
                                        <i class="mdi mdi-heart"></i>
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h4 class="title"><a href="/products/<%= product._id %>">
                                            <%= product.title %>
                                        </a></h4>
                                    <p>
                                        <%= product.description %>
                                    </p>
                                    <div class="product-price-cart">
                                        <span class="price">$ <%= product.price %></span>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>

                                    </div>
                                </div>
                            </div>

                            <% } %>
                                <% } else { %>
                                    <p>Not exists</p>
                                    <% } %>
                                        </>
                </div>
            </div>
        </section>
    </main>
    <%- include('../includes/footer.ejs') %>